<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flower Mug</key>
	<string>https://photos.google.com/share/AF1QipNa9fkNynzC5ZPCKvHb2jjDCuW1ve4w5XDLE-gcK6HFSESwLlO9TS5hoCvvhtHBAA/photo/AF1QipNe2nmM89WT9TOVfLB8g7lUnspPSqEqPPkN5PVD?key=X0tULV9MbVBlWFlWNHJKYjFXcUdMdWlMRFRWeXdn</string>
	<key>Red Roses</key>
	<string>https://photos.google.com/share/AF1QipNa9fkNynzC5ZPCKvHb2jjDCuW1ve4w5XDLE-gcK6HFSESwLlO9TS5hoCvvhtHBAA/photo/AF1QipPVU4BAvbi6LW-7Y4RYz5zX176_wRLenpM5Kft4?key=X0tULV9MbVBlWFlWNHJKYjFXcUdMdWlMRFRWeXdn</string>
</dict>
</plist>
