<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Switzerland paradise</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_1859.jpg</string>
	<key>Behind the waterfall</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_1872.jpg</string>
	<key>Countryside Sheep</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_1873.jpg</string>
	<key>Waterfall</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_1978.jpg</string>
	<key>Ice Sculpture</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2007.jpg</string>
	<key>Snowy Jungfrou</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2017.jpg</string>
	<key>Big White Flower</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2519.jpg</string>
	<key>Roses in Backyard</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3902.jpg</string>
	<key>Girl Painting</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3477.JPG</string>
	<key>George Seurat</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3428.jpg</string>
	<key>Two Girls Painting</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3372.JPG</string>
	<key>Musee De Orsey</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3360.JPG</string>
	<key>Swans Swimming</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2318.jpg</string>
	<key>Swans 1</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2256.jpg</string>
	<key>Red Roses</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_20130519_134517.jpg</string>
	<key>Flower Mug</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2916.jpg</string>
	<key>Pink Roses</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3921.jpg</string>
	<key>Flower Drawing</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_1190.jpg</string>
	<key>Beautiful Painting</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3486.JPG</string>
	<key>Hamlet</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_3407.JPG</string>
	<key>Birthday Cake</key>
	<string>https://storage.googleapis.com/photos-test/ImageFetcher/IMG_2863.jpg</string>
</dict>
</plist>
